<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.hearc.todolist">

    <application
        android:name="ch.hearc.todolist.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="ch.hearc.todolist.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ch.hearc.todolist.ui.MainActivity" />

        <receiver
            android:name="ch.hearc.todolist.util.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />




</manifest>